// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.


:root {
  --ion-color-primary: #f8f8f8;
  --ion-color-primary-contrast: #111;      
}

ion-toolbar
{
  --min-height:40px !important;
  padding:0px !important;
}

ion-menu-button
{
  --min-height: 40px;

}

ion-button
{
  --padding: 0;
  --height: 40px;
  --width: 40px;
}

.logo
{
}